{% extends '::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
                {% block searchForm %}
                    {{ render(controller('AtotrukisMainBundle:Event:getSearchResult')) }}
                {% endblock %}
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Prisijungimas</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Registracija</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}
{% block leftNav %}
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                    <b>Valdymo panelė</b>
            </li>
            <li>
                <a href="/app_dev.php">Pradinis</a>
            </li>
            <li>
                <a href="{{ path('all_events') }}">Visi renginiai</a>
            </li>
            <li>
                <a href="{{ path('my_events') }}">Kur aš dalyvauju?</a>
            </li>
            <li>
                <a href="{{ path('create_event') }}">Naujas renginys</a>
            </li>
            <li>
                <a href="{{ path('my_events') }}">Mano Renginiai</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_users') }}">Vartotojai</a>
                </li>
            {% endif %}
            <hr>
            <li>
                <h4>Naujienos</h4>
            </li>
                {% render url('get_news') %}
        </ul>

    </div>
    <div id="sideBarToggle">
        <a href="#" id="menu-toggle"><span class="menuCollapse"></span></a>
    </div>

    <!-- /#sidebar-wrapper -->
{% endblock %}
{% block mainContent %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
{% block footer %}
    <footer><hr></footer>
{% endblock %}

{% block javascripts %}
    <script src="/javascripts/scripts.js"></script>
{% endblock %}