        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="attendmentButton">
                {% if userRegistered[event.id] == 1 %}
                    <button class="btn btn-default attendingButton-sml eventBtn" type="button">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="eventID">{{ event.id }}</span>
                        <span class="jsRoute">{{ path("leave_event_sml")}}</span>
                    </button>
                {% else %}
                    <button class="btn btn-default attendButton-sml eventBtn" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="eventID">{{ event.id }}</span>
                        <span class="jsRoute">{{ path("attend_event_sml")}}</span>
                    </button>
                {% endif %}
            </div>
        {% endif %}
<a class="eventLink" href="{{ path('_show_event', { 'eventId': event.id }) }}">
    <div class="event">
        <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
        <div class="eventTitleWrapper">
            <h5  data-toggle="tooltip" data-placement="top" title="{{ event.name }}">{{ event.name }}</h5>
            <p>{{ startDate[event.id] }}</p>
        </div>
    </div>
</a>