<a class="mainEvent2Link" href="{{ path('_show_event', { 'eventId': event.id }) }}">
    <div class="mainEvent2">
            <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
            <div class="mainEvent2TitleWrapper">
                    <h5>{{ event.name }}</h5>
                    <p>Pradžia: {{ startDate[event.id] }}</p>
                    <p>Pabaiga: {{ endDate[event.id] }}</p>
            </div>
    </div>
</a>