<div class="col-md-8">
    <div class="row">
        <div class="col-md-6">
            <div class="mainEventWrapper">
                <div class="mainEvent">
                    <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
                    <div class="attendmentButton">
                    {% if userRegistered[event.id] == 1 %}
                        <button class="btn btn-default attendingButton" type="button">
                            Dalyauju
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="eventID">{{ event.id }}</span>
                            <span class="jsRoute">{{ path("leave_event")}}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-default attendButton" type="button">
                            Dalyausiu
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span class="eventID">{{ event.id }}</span>
                            <span class="jsRoute">{{ path("attend_event")}}</span>
                        </button>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h4>{{ event.name }}</h4>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Miestas:</b> {{ event.city.name }}</p>
                </div>
                <div class="col-md-7">
                    <p><b>Pradžia:</b> {{ startDate[event.id] }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Dalyvių:</b> {{ attending[event.id] }}</p>
                </div>
                <div class="col-md-7">
                    <p><b>Pabaiga:</b> {{ endDate[event.id] }}</p>
                </div>
            </div>
            <div class="row">
                <b>Aprašymas:</b>
                <p>{{ event.description }}</p>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn-mainEvent btn btn-primary"><p>Komentarai<br>(8000)</p></button>
            <a href="{{ path('_show_event', { 'eventId': event.id }) }}"><button type="button" class="btn-mainEvent btn btn-primary">Skaityti toliau ></button></a>
        </div>
    </div>
</div>

