{% extends 'AtotrukisMainBundle::layout.html.twig' %}
{% block content %}
{% for event in events %}
    <div class="row">
        <div class="col-md-5">
            <div class="mainEventWrapper">
                <div class="mainEvent">
                    <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h4>Super renginys 1 tau</h4>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Miestas:</b> Vilnius</p>
                </div>
                <div class="col-md-7">
                    <p><b>Pradžia:</b> 2014-10-15 11:00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p><b>Dalyvių:</b> 9,999,999</p>
                </div>
                <div class="col-md-7">
                    <p><b>Pabaiga:</b> 2014-10-15 12:00</p>
                </div>
            </div>
            <div class="row">
                <b>Aprašymas:</b>
                <p>Mūsų aprašymas</p>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn-mainEvent btn btn-primary"><p>Komentarai<br>(8000)</p></button>
            <a href="{{ path('one_event', {'id' : 7}) }}"></a><button type="button" class="btn-mainEvent btn btn-primary">Skaityti toliau ></button></a>
        </div>
    </div>
    {#
    <div class="page-header">
        <h4>    {{ event.name }}</h4>
    </div>
   <a href="{{ path('edit_event', {'id': event.id}) }}">[edit]</a>
    <a href="{{ path('delete_event', {'id': event.id}) }}">[delete]</a>

    </br>
    {{ event.description }} </br>
    {{ event.startDate|date('Y-m-d H:i:s') }} </br>
    {{ event.endDate|date('Y-m-d H:i:s') }} </br>
    {{ event.createdBy.name }} </br>
    {{ event.city.name }} </br>
    {{ event.map }} </br>
    {{ event.createdOn|date('Y-m-d H:i:s') }} </br>
    </br>#}
{% endfor %}
{% endblock %}
