{% extends 'AtotrukisMainBundle::layout.html.twig' %}
{% block content %}
<div class="contentWrapper">
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }} flashAlert">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for event in events %}
        <div class="row attendingRow">
            <div class="col-md-5">
                <div class="mainEvent">
                    <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <h4>{{ event.event.name }} {{ event.matched }}%</h4>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p><b>Miestas:</b> {{ event.event.city }}</p>
                    </div>
                    <div class="col-md-7">
                        <p><b>Pradžia:</b>{{ event.event.startDate|date('Y-m-d H:i:s') }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p><b>Dalyvių:</b> 9,999,999</p>
                    </div>
                    <div class="col-md-7">
                        <p><b>Pabaiga:</b> {{ event.event.endDate|date('Y-m-d H:i:s') }}</p>
                    </div>
                </div>
                <div class="row">
                    <b>Aprašymas:</b>
                    {% autoescape false %}
                        <p class="restricteDescription">{{ event.event.description|striptags() }}</p>
                    {% endautoescape %}
                </div>
            </div>
            <div class="col-md-2">
                <a href="{{ path('only_comments', { 'eventId': event.event.id}) }}"><button type="button" class="btn-mainEvent btn btn-primary btn-circle"><p>Komentarai</p><span class="glyphicon glyphicon-chevron-right"></span></button></a>
                <a href="{{ path('_show_event', { 'eventId': event.event.id }) }}"><button type="button" class="btn-mainEvent btn btn-primary btn-circle"><p>Plačiau</p><span class="glyphicon glyphicon-chevron-right"></span></button></a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
