<form action='{{ path('fos_user_registration_register') }}' {{ form_enctype(form) }} novalidate="novalidate" method="POST">
    <fieldset>


        <div class="form-group">
            {{ form_label(form.name, 'Vardas:', {'attr': {'class': 'control-label'} }) }}
            <div class="input-group">
                {{  form_errors(form.name) }}
                {{ form_widget(form.name, {'attr' : {'class' : 'span12' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, 'El. paštas:', {'attr': {'class': 'control-label'}}) }}
            <div class="input-group">
                {{  form_errors(form.email) }}
                {{ form_widget(form.email, {'attr' : {'class' : 'span12' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.first, 'Slaptažodis:', {'attr': {'class': 'control-label'}}) }}
            <div class="input-group">
                {{  form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'span12' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second, 'Pakartoti Slaptažodį:', {'attr': {'class': 'control-label'}}) }}
            <div class="input-group">
                {{  form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'span12' }}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="submit" value="Registruotis" class="btn red-btn sign-up-btn"/>
            </div>
        </div>

        {{ form_rest(form) }}
    </fieldset>
</form>
<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">Prisijungti su Facebook</a>

