{% extends 'AtotrukisMainBundle::layout.html.twig' %}

{% block topContent %}
    <div class="contentWrapper">
        <div class="page-header">
            <h4>Pasiūlymai tau</h4>
        </div>

{% endblock %}

{% block mainContent %}
        {% for event in pagination %}

            {% if pagination.getPaginationData.totalCount > 1 %}
                {% if pagination.getPaginationData.firstItemNumber+loop.index0 == 1 %}
                    <div class="row">
                        {{ include('AtotrukisMainBundle:Includes:mainEvent.html.twig') }}
                {% endif %}
                {% if pagination.getPaginationData.firstItemNumber+loop.index0 == 2 %}
                        <div class="col-md-4">
                            {{ include('AtotrukisMainBundle:Includes:mainEvent2.html.twig') }}
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% else %}
                <div class="row">
                    {{ include('AtotrukisMainBundle:Includes:mainEvent.html.twig') }}
                </div>
                <hr>
            {% endif %}

            {% if pagination.getPaginationData.firstItemNumber+loop.index0 > 2 %}
                <div class="col-md-3">{{ include('AtotrukisMainBundle:Includes:event.html.twig') }}</div>
            {% endif %}

        {% endfor %}
    </div>
        <div class="col-md-12">

            {{ knp_pagination_render(pagination) }}

        </div>

{% endblock %}
{% block recommendationList %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="top_recommendation_nav">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#" class="menuText">Rekomenduojami tau</a></li>
                    <li><a href="#" class="menuText">Išbandyk naujovę</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
