{% extends 'AtotrukisMainBundle::layout.html.twig' %}

{% block topContent %}
    <div class="contentWrapper">
        <div class="page-header page-header-index">
            <h3>Pasiūlymai tau</h3>
        </div>
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}" style="margin: 0px 15px 15px 15px">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
{% endblock %}

        {% block mainContent %}
        {% for event in events %}

            {% if loop.length > 1 %}
                {% if loop.index0 == 1 %}
                    {#<div class="row">#}
                        <div class="col-xs-12 col-md-8">
                            {{ include('AtotrukisMainBundle:Includes:mainEvent.html.twig') }}
                        </div>
                {% endif %}
                {% if loop.index0 == 2 %}
                    <div class="col-xs-12 col-md-4">
                        {{ include('AtotrukisMainBundle:Includes:mainEvent2.html.twig') }}
                    </div>
                    {#</div>#}
                    <div class="row"></div>
                {% endif %}
            {% else %}
                <div class="row">
                    {{ include('AtotrukisMainBundle:Includes:mainEvent.html.twig') }}
                </div>
            {% endif %}

            {% if loop.index0 > 2 %}
                <div class="col-xs-12 col-md-6 col-lg-3">{{ include('AtotrukisMainBundle:Includes:event.html.twig') }}</div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
{% block recommendationList %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="top_recommendation_nav">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#" class="menuText">Rekomenduojami tau</a></li>
                    <li><a href="#" class="menuText">Išbandyk naujovę</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
