{% extends "AtotrukisMainBundle::layout.html.twig" %}

{% block title %}{{ event.name }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('stylesheets/showEvent.css') }}" rel="stylesheet">
{% endblock %}
{% block topContent %}
    <div class="page-header">
        <h1 data-toggle="tooltip" data-placement="top" title="{{ event.name }}">{{ event.name }}</h1>
    </div>
{% endblock %}

{% block mainContent %}

    <div class="col-md-6">
        <div class="mainEventShow">
            <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
            {% if userRegistered == 1 %}
                <button class="btn btn-default attendingButton" type="button">
                    Dalyauju
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="eventID">{{ event.id }}</span>
                    <span class="jsRoute">{{ path("leave_event")}}</span>
                </button>
            {% else %}
                <button class="btn btn-default attendButton" type="button">
                    Dalyausiu
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span class="eventID">{{ event.id }}</span>
                    <span class="jsRoute">{{ path("attend_event")}}</span>
                </button>
            {% endif %}
        </div><br>
        <b>Vieta žemėlapyje:</b><br><br>
        <div id="map-canvas"></div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-default" type="button">Dalyvauti</button><br><br>
        <div class="row">
            <div class="col-md-4"><b>Miestas: </b>{{ event.city }}</div>
            <div class="col-md-4"><b>Pradžia: </b>{{ event.startDate|date('Y-m-d H:i') }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><b>Dalyvių: </b>{{ attending }}</div>
            <div class="col-md-4"><b>Pabaiga: </b>{{ event.endDate|date('Y-m-d H:i') }}</div>
        </div><br>
        <b>Aprašymas:</b><br>
        {{ event.description }}<br>
        <hr>
        <h3>Komentarai</h3>
        {{ render(controller('AtotrukisMainBundle:Comments:createComment', {'eventId': app.request.get('eventId') })) }}
        <hr>
        {{ render(controller('AtotrukisMainBundle:Comments:showComments', {'eventId': app.request.get('eventId') })) }}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="{{ asset('javascripts/showMap.js') }}"></script>
    <script>
        onload=initialize{{ event.map }};
    </script>

{% endblock %}