{% extends "AtotrukisMainBundle::layout.html.twig" %}

{% block title %}{{ event.name }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('stylesheets/showEvent.css') }}" rel="stylesheet">
{% endblock %}
{% block topContent %}
<div class="mainContentWrapper">
    <div class="page-header showEventName">
        <h1 data-toggle="tooltip" data-placement="top" title="{{ event.name }}">{{ event.name }}</h1>
    </div>
{% endblock %}

{% block mainContent %}
    <div class="col-xs-12 col-md-6">
        <div class="mainEventShow">
            <img src="{{ asset('images/mainEvent2.jpg') }}" alt="alternative">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="attendmentButton showEventAttendButton">
                    {% if userRegistered == 1 %}
                        <button class="btn btn-default attendingButton" type="button">
                            Dalyvauju
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="eventID">{{ event.id }}</span>
                            <span class="jsRoute">{{ path("leave_event")}}</span>
                        </button>
                    {% else %}
                        <button class="btn btn-default attendButton" type="button">
                            Dalyvausiu
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span class="eventID">{{ event.id }}</span>
                            <span class="jsRoute">{{ path("attend_event")}}</span>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </div><br>
        <b>Vieta žemėlapyje:</b><br><br>
        <div id="map-canvas"></div>
    </div>
    <div class="col-xs-12 col-md-6">

        <div class="showEventInfo col-xs-12">
            <div class="row">
                <div class="col-md-3 showEventDataLeft">
                    <span class="glyphicon glyphicon-time"></span> Nuo:
                </div>
                <div class="col-md-9 showEventDataRight">
                    <span>{{ startDate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 showEventDataLeft">
                    <span class="glyphicon glyphicon-time"></span> Iki:
                </div>
                <div class="col-md-9 showEventDataRight">
                    <span>{{ endDate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 showEventDataLeft">
                    <span class="glyphicon glyphicon-home"></span> Miestas:
                </div>
                <div class="col-md-9 showEventDataRight">
                    <span>{{ event.city }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 showEventDataLeft">
                    <span class="glyphicon glyphicon-user"></span> Dalyvių:
                </div>
                <div class="col-md-9 showEventDataRight">
                    <span>{{ attending }}</span>
                </div>
            </div>
        </div>
        <hr>
        <b>Aprašymas:</b><br>
        <div class="showEventDescription">
            {{ event.description|raw }}
        </div>
        <hr>
        <h3>Komentarai</h3>
        {{ render(controller('AtotrukisMainBundle:Comments:createComment', {'eventId': app.request.get('eventId') })) }}
        <hr>
        {{ render(controller('AtotrukisMainBundle:Comments:showComments', {'eventId': app.request.get('eventId') })) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="/javascripts/scripts.js"></script>
    <script src="{{ asset('javascripts/showMap.js') }}"></script>
    <script>
        onload=initialize{{ event.map }};
    </script>

{% endblock %}
