{% extends "AtotrukisMainBundle::layout.html.twig" %}

{% block title %}Apklausa{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('stylesheets/quiz.css') }}" rel="stylesheet" >

{% endblock %}

{% block mainContent %}

    <div class="col-md-12">
    {{ form_start(form, {'attr': {'id': 'quizForm', 'class': 'col-md-6 col-md-offset-3'}}) }}

        <div class="ans col-md-8 col-md-offset-2">
            <p>Norime geriau pažinti tave, kad pagal pomėgius galėtume atrinkti renginius, kurie tau turėtų patikti, todėl prašome atlikti nedidelę apklausą.</p>
            <div class="row col-md-6 col-md-offset-3">
                <button type="button" class="next btn btn-default">Atlikti apklausą</button>
            </div>
        </div>

        <div class="ans col-md-8 col-md-offset-2">
            <div align="center">1/3</div><br>
            {{ form_label(form.q1, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.q1) }}
            {{ form_label(form.t1, null, {'label_attr': {'class': 'tlabel'}}) }}
            {{ form_widget(form.t1) }}
            <div class="row"></div>
            <div class="row col-md-12">
                <button type="button" class="next btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>

        </div>

        <div class="ans col-md-8 col-md-offset-2">
            <div align="center">2/3</div><br>
            {{ form_label(form.q2, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.q2) }}
            {{ form_label(form.t2, null, {'label_attr': {'class': 'tlabel'}})  }}
            {{ form_widget(form.t2) }}
            <div class="row"></div>
            <div class="row col-md-12">
                <button type="button" class="previous btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="next btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>

        <div class="ans col-md-8 col-md-offset-2">
            <div align="center">3/3</div><br>
            {{ form_label(form.q3, null, {'label_attr': {'class': 'label'}}) }}
            {{ form_widget(form.q3) }}
            {{ form_label(form.t3, null, {'label_attr': {'class': 'tlabel'}})  }}
            {{ form_widget(form.t3) }}
            <div class="row"></div>
            <div class="row col-md-12">
                <button type="button" class="previous btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                {{ form_widget(form.save) }}
            </div>
        </div>

    {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('javascripts/quiz.js') }}"></script>

{% endblock %}
